#game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.card{ 
    display: inline-block;
    text-align: center;
    width:20vw;
    height: 60vh;
    margin-right: 1vw;
}
img {
    max-width: 100%;
    height: 100%;
}
