nav {
    top: 0;
}
.nav-main {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
}
  
.nav-element {
    float: left;
}
  
.nav-element a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav-element a:hover:not(.active) {
    background-color: #ddd;
}
  
.active {
    background-color: #99ccff;
}