.profile-card {
    background: #ffffff;
    display: block;
    width: 30%;    
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    top: 50%;
    padding: 20px;
    margin: auto;
    text-align: center;
    overflow: hidden
}
.profile-header {
    border-bottom: 2px dashed #EEEEEE;
}

.profile-body {
    text-align: start;

}

.profile-body div {
    width: 100%;
}

.profile-body div ul {
    float: left;
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    width: 35%;
}

#avatar-container {
    display: inline-block;
    text-align: center;
    position: relative;
}

#avatar-container > img {
    width: 120px;
    max-width: 100%;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}